.article {
  padding: 1rem;
  border: 1px solid #fefefe;
  margin: 3px;

  a {
    font-size: 1.5rem;
    transition: all 0.8s ease-in 0.2s;
    &:hover {
      background: rgba(207, 207, 207, 0.7);
    }
  }
}
